<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sumit Maurya</title>
</head>
<body>
<h1>Sumit Kumar</h1><br>
Unique Boys Hostel,<br>
Indergarhi, Near Dasna Flyover ,<br>
Ghaziabad-201001, U.P. , INDIA.<br>
Date of Birth : 02 February, 1995<br>
Email :            sumit.maurya38@gmail.com<br>
Phone No. :     +919873147893<br>
<h2>Objective</h2><br>
A platform which gives me a chance to exploit my extreme interest in the field of Computer Science ,fulfil my desire to do something out of the box ,explore my talent and showcase my skills properly.
<h2>Interests</h2><br>
  Data Structure and Algorithms<br>
  C/Python Programming language<br>
  Software Development<br>
<h2>Education</h2><br>
  B.Tech<br>
IMS Engineering College, Ghaziabad, UP [ India ]<br>
Completed Oct 12, Percentage: 67.88%
  Senior Secondary<br>
LPS Inter College, Lucknow, UP.<br>
UP Board (2010-12) with 61.60%<br>
  High School<br>
BLGRSVMIC, Lalganj, Raebareli, UP.
UP Board (2009-10) with 70.50%
<h2>Workshop/Training</h2><br>
    • Workshop on Cyber Security<br>
      (By i3 indya technologies in 08/08/2015)<br>
    • Industrial training on High Performance Computing.<br>
      ( By Aura Emanating pvt. Ltd. In June-July 2017)<br>
    • Workshop on IOT<br>
         (By APTRON in 18/02/2017)<br>
    • Industrial visit (Augmented reality app development workshop)<br>
     (APTRON pvt. Ltd. 27/08/2016)<br>

<h2>Certificate/Courses</h2><br>
    • Vocational training in C language<br>
     (By UPTEC in 08/08/2015)<br>
    • Certificate of participation ENIGMA of stories<br>
      (In ENIGMA 2016 in 29/08/2016)<br>

    • Certification in Data structure and Algorithm<br>
      (Udemy 15/09/2017)<br>

<h2>Ptojects</h2><br>
    • Local server based door locking system<br>
      (using IOT, Wi-Fi Module)<br>
    • Face Recognition system<br>
      (using CNN, duration – Sept. 2017 – March 2018)<br>

<h2>Academic Concepts</h2><br>
    • Data structure and Algorithm<br>
    • Basic concepts of DBMS<br>
    • Basic concepts in Computer Network<br>
    • Fundamental concepts of Operating System<br>

<h2>Skills</h2><br>
    • Programming Languages             C, Python, C++ (Basic)<br>
    • Internet technologies                  HTML (Basic), CSS (Basic), Javascript (Basic)<br>
    • Database management                MySQL, Sqlite<br>
    • Web Framework                           Python-Django (Moderate)<br>
    • GUI Development                         Tkinter (Moderate) (Python toolkit)<br>
    • Operating Systems                        Windows OS, Linux OS(Moderate)<br>
<h2>Permanent Address</h2><br>
    • Village – Chak devi deen, Post - Ambara Paschim, Lalganj, Raebareli,<br>
         Uttar Pradesh, India.<br>
         Pin-229206<br>
<h2>Hobbies</h2><br>
    • Playing PC Strategic Games<br>
    • watching News , Movies<br>

</body>
</html>